
// Colors
$color-text: #FFFFFF;
$color-bg: #121212;
$color-bg-light: #272727;
$color-bg-lighter: #3E3E3E;
$color-primary: #266284;
$color-warning: #FF9213;
$color-smooth: #747474;

// Fonts

$font-family: Roboto, sans-serif;
$font-size-base: 14px;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Styles

$border-radius: 6px;
$border-radius--big: 10px;
$border-radius--bigger: 15px;

$box-shadow:  0 3px 3px rgba(0, 0, 0, 0.1),   /** Simulate Direct Light - Color is a darkened shade of blue **/
              0 3px 20px rgba(0, 0, 0, 0.2);  /** Simulate Ambient Light - Color is a darkened shade of blue **/;

// Responsive Breakpoints

$breakpoints:
                (xs 500),
                (s 768),
                (m 960),
                (l 1240),
                (xl 1400);

$gutter-padding--mobile: 20px;
$gutter-padding--desktop: 25px;
